body{
    background-color: #14171a;
}
.section{
    color:#e6e8ee;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 50px;
    font-family: ui-sans-serif, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
.header{
    border-top: 1px solid ;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo-html{
    border-left: 2px solid;
}
.cta{
    display: flex;
    gap:15px
}
.ctas{
    color:#fafbfc;
    text-decoration: none;
    font-weight: lighter;
}
.shop{
    padding: 0 ;
    background-color:#4229a5;
    width: 100px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    height: 40px;
    margin-top: 4px;
    transition: color 0.2 ease;
}
.shop:hover{
    background-color: #2b225c;
}
.hero-imgs{
    width: 200px;
    height: 200px;
}
.hero-img{
    display: flex;
    align-items: center;
}
.body{
    display: grid;
    grid-template-columns: 200px 200px;
    margin-top: 10px;
}
.cta-two{
    margin-top: 40px;
}
.about{
    margin-left: 20px;
}
.cards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 130px 130px 130px;
    gap:10px
}
.card{
    background-color: #151820;
    display: flex;
    justify-content: center;
    padding:10px;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.card-text{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}
.svg-text{
    margin: 1px;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}
.testimonials{
   text-align: center;
   font-weight:lighter;
   font-size: medium;
   margin-top: 40px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#newsletter{
    background-color: #020107;
    color: #e6e8ee;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: small; 
    
}
.input{
    margin-top: 20px; 
}

@media (max-width: 400px){
   .section{
    min-width: auto;
   }
   .header{
    padding-top: 20px;
    border: none;
   }
   .cta{
    gap:5px;
    justify-content: flex-start;
    font-size: 17px;
   }
   .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid;
    margin-top: 10px;
   }
   .hero-imgs{
    width: 250px;
   }
   .feature{
    width: 240px;
   }
   .shop{
    width: 70px;
    padding: 0;
    font-size: small;
   }
   .cards{
    display:flex;
    flex-direction: column;
    align-items: center;
   }
   .card{
    width: 200px;
    height: 150px;
   }
   .cta-two{
    display: flex;
    flex-direction: column;
    gap: 5px;
   }
   .cta-two>.shop{
    font-size: 30px;
    width: auto;
   }
   .footer{
    display: flex;
    flex-direction: column;
    gap:3px;
    margin-top: 10px;
   }
   .input{
    margin-top: 2px;
   }
}
@media (min-width: 450px){
    .one{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .cards{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: auto auto;
        
        gap:20px;
        margin-left: 50px;
    }
    .card{
        font-size: 1.4rem;
        height: 250px;
    }
    .card-one{
        grid-column: span 2;
        text-align: center;
    }
}
@media (min-width: 770px){
    .one{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .hero-imgs{
        width: 400px;
        height: 350px;
    }
    .slogan{
        font-size: 4rem;
        text-align: center;
        margin: 0;
    }
    .feature{
        font-size: 1.54rem;
    }
    .cta-two>.shop{
        font-size: 2.3rem;
        width: auto;
        padding: 10px;
        height: auto;
    }
    .about{
        font-size: 1.4rem;
    }
    .cards{
        display: flex;
        justify-content: space-around;
        border-top: 1px solid;
        padding: 25px;
    }
    .card{
        width: 220px;
        font-size: 1.4rem;
        height: 250px;
    }
    .testimonials{
        font-size: 1.8rem;
    }
    .footer{
        display: block;
        font-size: 1.6rem;
    }
    .input{
        font-size: 2rem;
    }
}
