body{
    display: flex;
    justify-content: center;
    background-color: #cac6ca;
}
.body{
    min-width: 99%;
    max-width: 700px;
    border-radius:12px ;
    overflow: scroll;
    font-family: 'Gill Sans', sans-serif;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1.5s ease forwards;
    height: 100vh;
    background-color: rgb(252, 250, 252);
}
 @keyframes fadeInUp {
      from {
        opacity: -1;
        transform: translateY(40px);
      }
      to {
        opacity: 8;
        transform: translateY(10);
      }
    }
.header{
    background: linear-gradient(123deg, rgb(221, 206, 221), rgb(247, 175, 247), rgb(214, 104, 214) );
    overflow: hidden;
    padding: 10px 20px;
}
.contacts{
    padding: 10px 15px;
    transition: color 0.3s ease;
}
.contact{
    transition: color 0.3s ease;
    color: rgb(90, 126, 150);
     font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
}
.contact:hover{
    color: rgb(239, 79, 253);
}
.darkgray{
    color: rgb(87, 86, 86);
    border-bottom: 2px solid purple;
}
.details{
    font-size: 1.1rem;
}
.skills{
    border-bottom: 2px solid rgb(92, 19, 92);
}
.skill-bar {
      background: #bb9fb7;
      border-radius: 111111px;
      height: 10px;
      overflow: hidden;
      margin-bottom: 0.75rem;
    }

    .skill-fill {
      height: 100%;
      background: #8a2083;
      border-radius: 9999px;
      width: 0;
      transition: width 1.5s ease;
    }
.section{
    padding: 10px 20px;
    font-size: 1.25rem;
}
.space-among{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.skillset{
    margin-bottom: 25px
}
h2{
    color: rgb(77, 73, 73);
}
.about{
    color: rgb(36, 34, 34);
}
 @media (max-width: 800px) {
      .body{
        margin: 1rem;
        width: 100%;
        margin: 0;
      }
     
    }